@model TesteAltudo.Models.PageContentsViewModel

<div class="text-center">    
    <div class="alert alert-danger" role="alert">
        <p>Something went wrong :(</p>
        <p>@Model.ErrorMsg</p>
    </div>
</div>
